html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Lemonada", cursive;
	background: pink url("https://media.giphy.com/media/xUOwGfV7UYp0E6cb1m/giphy.gif") repeat 0 0;
}

h1,
h2 {
	color: #c77b88;
}

/* buttons */
.button {
	padding: 6px 12px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
}

.button--pink {
	color: white;
	background-color: #ffc0cb;
}

.button--pink:hover {
	background-color: #eea7b2;
}

/* page */
#page {
	min-height: 100%;
	width: 1024px;
	padding: 40px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.75);
}

/* image gallery */
.images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 0 auto;
}

.image {
	max-width: 45%;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	margin: 10px;
}

.image img {
	height: auto;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: white;
	transform: rotate(1.5deg);
}

/* joke styles */
.joke {
	padding: 100px 0 20px;
}

.joke p {
	max-width: 75%;
	margin: 0 auto 40px;
	line-height: 1;
	font-size: 50px;
	text-align: center;
}

.joke p + p {
	font-size: 40px;
}
